{{#partial "content"}}
    <div class="container-fluid" id="">
        <h1>This is Parks and Recreation</h1>
        <br>
        <h2>Protect our parks.</h2>
        <p>Record a sighting whenever you spot an animal in any side of our beautiful park.</p>
        <div class="row" id="bSite">
            <div class="col-md-6">
                <a href="/sightings/new" style="color:White"; class="btn btn-outline-success btn-lg">Record a Sighting</a>
            </div>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}
