{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Parks and Recreation{{/block}}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' href='/main.css'>
    </head>
    <body>
    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item" active><a class="nav-link" href="/sightings/new">Record a Sighting</a></li>
    <li class="nav-item" active><a class="nav-link" href="/animals/endangered">Endangered Animals</a></li>
    <li class="nav-item" active><a class="nav-link" href="/animals/safe">Safe Animals</a></li>
    <li class="nav-item active"><a class="nav-link" href="/rangers">Rangers</a></li>
    <li class="nav-item active"><a class="nav-link" href="/sightings">Sightings</a></li>

    <div class ="container">
        <div class="page-header">
            <h1>Parks and Recreation</h1>
        </div>
        <img src="" class="rounded-circle" height="100px";>
        {{#block "content"}}
        {{/block}}
    </div>
    </body>
    </html>
{{/block}}