{{#partial "content"}}
    <div class="jumbotron jumbotron-fluid default-jumbotron">
        <h5 class="text-center"> Success! Your sighting has been recorded</h5>
    </div>
    <p>Click on "View Sightings" below to view our sightings</p>
    <div class="row" id="bSite">
        <div class="col-md-6">
            <a href="/sightings" style="color:White"; class="btn btn-outline-success btn-lg">View Sightings</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}